.nav { 
     background-color: rgb(40,40,40);
     color: white;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px 50px;
                           
}

.nav p { 
       font-weight: bold;
       font-size: 25px;
       font-family: cursive;                      
}

.nav p span { 
       color: orange;                       
}

.nav .ul { 
      list-style: none;
      overflow: hidden;
      margin: 0;
      padding: 0;
      display: flex;
      gap: 20px;                      
}

.nav .ul li button { 
      display: inline-block;  
      border: none;
      background-color: orange;
      color: white;
      border-radius: 5px;
      cursor: pointer;                
}

.nav .ul li a { 
       display: block;
       text-align: center;     
       text-decoration: none;
       color: white;   
       font-weight: bold;             
}


/* mainworking  */

.maindiv { 
      display: flex;
      justify-content: space-between;   
      align-items: center;    
      padding: 30px;   
      margin: auto;    
      background-color: rgb(40,40,40);
      color: white;
}


.maindiv img { 
        border-radius: 2rem;  
        order: 2;
        margin-left: 30px; 
        margin-right: 50px;                      
}

.maindiv p { 
        float: right;
        max-width: 400px;    
        font-size: 30px;   
        line-height: 1.6;     
        margin-left: 50px; 
        font-family: sans-serif;
}

.maindiv button { 
      height: 50px;    
      width: 150px;   
      font-weight: bold;
      font-size: 20px;
      margin-top: 500px;  
      margin-right: 300px;
      background-color: orange;
      color: white;     
      border: none;     
      border-radius: 1rem;     
      cursor: pointer;       
}

.containerfooter{
        width: 100%;    
        background-color: rgb(40,40,40); 
        color: white;   
        text-align: center;   
        padding: 2px;    
        font-weight: bold;       
}